a{
    text-decoration: none;
    display: inline-block;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
.header_content{
    padding: 10px 0px 23px;
}
.header_content-inner{
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s ease;
}
.menu a:hover{
    border-color: #ffc222;
}
.menu li + li {
    padding-left: 10px;
}